In [1]:
# Original filename: "02_tessman_flow_reqts.py"

In [1]:
import os
import sys
import pandas as pd
import numpy as np
import datetime as dt

In [58]:
# Paths, input, and output file names

outer_dir = os.path.abspath(os.path.join(os.getcwd() ,"../.."))
refpth = os.path.join(outer_dir, 'IFT_files', 'Reference Files')
sfe_char_csv = os.path.join(refpth, 'TNC SFE LOI Characteristics with MAF.csv')
sfe_char_xls= os.path.join(refpth, 'TNC SFE LOI Characteristics.xlsx')
subset_xls = os.path.join(refpth, 'TNC Subset SFE LOIs.xlsx')
#sfe_char_csv = os.path.join(refpth, 'All SFE LOI Characteristics with MAF.csv')
#sfe_char_xls= os.path.join(refpth, 'All SFE LOI Characteristics.xlsx')
#subset_xls = os.path.join(refpth, 'Subset SFE LOIs.xlsx')
unimpath = os.path.join(outer_dir, "IFT_files", 'Unimpaired Flow')
tesreqtsfile = os.path.join(refpth, 'Tessmann_min_flows_SWB.csv') #provided Tessmann table

startdir = os.path.join(outer_dir, 'IFT_files', 'IFT Results')
alldates = pd.date_range(dt.datetime(1950,10,1),dt.datetime(2021,8,1))
out_csv = os.path.join(startdir, 'All LOI Tessmann Flow Requirements_TNC.csv')

In [3]:
# Original filename: "00_get_all_sfe_lois.py"
# Read in SFE LOI characteristics table and calculate bankfull flow using cont. Area relation

def get_all_sfe_lois():
    sfelois = pd.read_csv(sfe_char_csv,index_col=0)
    loi = [str(i) for i in sfelois['LOI']]
    sfelois['Outlet LOI'] = sfelois['LOI']
    sfelois['Contributing Area (mi^2)'] = sfelois['Contributing Area']
    sfelois['MAF'] = sfelois['Mean Annual Flow (cfs)']
    sfelois['Qbf'] = 71.5 * sfelois['Contributing Area (mi^2)'] #71.5 cfs/mi^2 according to Darren

    subset = pd.read_excel(subset_xls)
    sublois = sfelois.loc[subset['SWSID'],:]
    return sublois, loi, sfelois

In [46]:
# Original filename: "00_read_loi_paradigm_flow_v3.py"
def read_loi_paradigm_flow(p):
    unimpflowfile = os.path.join(unimpath, str(p) + '.csv')
    unimp = pd.read_csv(unimpflowfile,index_col=0)
    unimp.index = pd.DatetimeIndex(unimp.index)
    return unimp

In [5]:
# Original filename: "00_add_ts_col.py"
def add_ts_col(tab):
#adds column for TS as first column of DataFrame as formatted date
    tab['TS'] = tab.index.strftime('%m/%d/%Y')
    cols = tab.columns.tolist()
    cols = cols[-1:] + cols[:-1]
    tab = tab[cols]
    return tab

In [7]:
#tesreqts = pd.read_csv(tesreqtsfile)
loitab, loi, fultab = get_all_sfe_lois()

In [8]:
loitab

,LOI,dnLOI,Lat,Lon,Contributing Area,Geomorphic Class,Geologic Setting,Mean Annual Flow (cfs),COMID,Outlet LOI,Contributing Area (mi^2),MAF,Qbf
2664961,Indian,NaN,NaN,NaN,39.486536,NaN,NaN,63.231566,2664961,Indian,39.486536,63.231566,2823.287303
8285498,Sproul,NaN,NaN,NaN,4.992762,NaN,NaN,17.128939,8285498,Sproul,4.992762,17.128939,356.982496

In [59]:
dailyreqts = pd.DataFrame(index=alldates,columns=loi)  #set up IFT table for WEAP

In [60]:
min_days_month = 20
min_days_year = 360

for l in loi[:]:
    print(l)
    df = read_loi_paradigm_flow(l)
    df['datetime'] = df.index
    # Calculate mean monthly flow, screening out months with too much missing data
    df_month = (df.groupby(['Water Year', 'Month'])
           .agg({'Day':'count', 'flow':'mean'})
           .reset_index()
           .rename(columns={'Day':'count_days','flow':'monthly_mean_flow'})
          )
    df_month = df_month.loc[df_month['count_days'] >= min_days_month]
    df_mmf = (df_month.groupby(['Month'])
           .agg({'Water Year':'count', 'monthly_mean_flow':'mean'})
           .reset_index()
           .rename(columns={'Water Year':'count_months','monthly_mean_flow':'mean_monthly_flow'})
          )
    # Calculate mean annual, screening out years with too much missing data
    df_wy = (df.groupby(['Water Year'])
           .agg({'Day':'count', 'flow':'mean'})
           .reset_index()
           .rename(columns={'Day':'count_days','flow':'annual_mean_flow'})
          )
    df_wy = df_wy.loc[df_wy['count_days'] >= min_days_year]
    maf = df_wy['annual_mean_flow'].mean()
    # Calculate Tessman monthly bypass flows
    df_mmf.loc[df_mmf['mean_monthly_flow'] < 0.4 * maf, 'tessman_mbf'] = df_mmf['mean_monthly_flow']
    df_mmf.loc[0.4 * df_mmf['mean_monthly_flow'] >= 0.4 * maf, 'tessman_mbf'] = 0.4 * df_mmf['mean_monthly_flow']
    df_mmf.loc[(df_mmf['mean_monthly_flow'] >= 0.4 * maf) & (0.4 * df_mmf['mean_monthly_flow'] < 0.4 * maf), 'tessman_mbf'] = 0.4 * maf
    # Calculate the hydrograph assuming full diversion
    df = pd.merge(df,df_mmf, on="Month", how="left")
    max_div_allowed = df.flow.max() # placeholder until we develop a loi specific max diversion amount
    df['flow above mbf'] = np.where(df['flow'] > df['tessman_mbf'], df['flow'] - df['tessman_mbf'], 0)
    #df.loc[df['flow'] > df['tessman_mbf'], 'flow above mbf'] = df['flow'] - df['tessman_mbf']
    df['max diverted'] = np.where(df['flow above mbf']>max_div_allowed, max_div_allowed, df['flow above mbf'])
    df['Tessman flow req'] = df['flow'] - df['max diverted']
    df = df.set_index('datetime')
    df.index = pd.DatetimeIndex(df.index)
    dailyreqts.loc[:,l] = df.loc[dailyreqts.index,'Tessman flow req']

Indian
Sproul

In [61]:

dailyreqts

              Indian    Sproul
1950-10-01  4.254344       NaN
1950-10-02  4.254344       NaN
1950-10-03  4.254344       NaN
1950-10-04  4.254344       NaN
1950-10-05  4.254344       NaN
1950-10-06  4.254344       NaN
1950-10-07  4.254344       NaN
1950-10-08  4.254344       NaN
1950-10-09  4.254344       NaN
1950-10-10  4.254344       NaN
1950-10-11  4.254344       NaN
1950-10-12  4.254344       NaN
1950-10-13  4.254344       NaN
1950-10-14  4.254344       NaN
1950-10-15  4.254344       NaN
1950-10-16  4.254344       NaN
1950-10-17  4.254344       NaN
1950-10-18  4.254344       NaN
1950-10-19  4.254344       NaN
1950-10-20  4.254344       NaN
1950-10-21  4.254344       NaN
1950-10-22  4.254344       NaN
1950-10-23  4.254344       NaN
1950-10-24  4.254344       NaN
1950-10-25  4.254344       NaN
1950-10-26  4.254344       NaN
1950-10-27  4.254344       NaN
1950-10-28  4.254344       NaN
1950-10-29  4.254344       NaN
1950-10-30  4.254344       NaN
...              ...       ...
2021-07-03  0.653239  0.256555
2021-07-04  0.642839  0.219163
2021-07-05  0.633739  0.195870
2021-07-06  0.629839  0.172111
2021-07-07  0.622039  0.168593
2021-07-08  0.619439  0.156563
2021-07-09  0.616839  0.136976
2021-07-10  0.614239  0.115778
2021-07-11  0.611639  0.099025
2021-07-12  0.611639  0.089856
2021-07-13  0.609039  0.083580
2021-07-14  0.606439  0.077530
2021-07-15  0.605139  0.074010
2021-07-16  0.603839  0.074010
2021-07-17  0.599939  0.067214
2021-07-18  0.596039  0.056614
2021-07-19  0.592139  0.046922
2021-07-20  0.593439  0.039823
2021-07-21       NaN       NaN
2021-07-22       NaN       NaN
2021-07-23       NaN       NaN
2021-07-24  0.581739  0.020154
2021-07-25  0.579139  0.015070
2021-07-26  0.575239  0.011168
2021-07-27  0.573939  0.012089
2021-07-28  0.577839  0.013046
2021-07-29  0.573939  0.010283
2021-07-30  0.571339  0.006067
2021-07-31  0.571339  0.004230
2021-08-01  0.571339  0.003187

[25873 rows x 2 columns]

In [63]:
dailyreqts = add_ts_col(dailyreqts)
dailyreqts.to_csv(out_csv)